.usernames {
    padding-top: 15px;
    background-repeat: no-repeat;
    background-position: 5px 15px;
    padding-left: 25px;
    font-weight: bold;
    background-image: url(/library/image/silk/paste_plain.png);
}

.searchTitle {
    padding-top: 15px;
    background-repeat: no-repeat;
    background-position: 5px 15px;
    padding-left: 25px;
    padding-bottom: 10px;
    font-weight: bold;
    background-image: url(/library/image/silk/magnifier.png);
}

.searchBoxParent {
    width: 95%;
}

.addItem {
    background:transparent url(/library/image/silk/add.png) no-repeat scroll left center;
    padding-left:1.5em;
}

.noUnderline a:visited{
    text-decoration:none !important;
}

.noUnderline a:link{
    text-decoration:none !important;
}

.noUnderline a:active{
    text-decoration:none !important;
}

.navigate {
    font-size:0.9em;
    font-weight:normal;
}

.infoItem {
background:url("/library/image/sakai/information.png") no-repeat scroll left top transparent;
padding-left:1.5em;
}


